/* ========== MAIN ========== */
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-light);
  min-height: 100vh;
}

/* ========== HEADER ========== */
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ========== NAVIGATION ========== */
.app-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  position: sticky;
  top: 0;
  height: var(--nav-height);
}

.nav-mobile-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--primary-dark);
  border: 0 none;
  /* height: var(--nav-height); */
}

.nav-wrapper{
  width: 100%;
  background-color: var(--primary-dark);
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height,visibility;
}

.nav-wrapper ul{
  margin: 1em;
  padding: 0;
  animation: roll-out 0.2s both;
}

.nav-wrapper li{
  list-style: none;
  padding: 0.2em;
}

.app-comment-float {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  position: fixed;
  width: 15vmin;
  height: 15vmin;
  bottom: 5vmin;
  right: 5vmin;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px #999;
  /* z-index: 20; */
}

.app-comment-float:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

/* ========== CONTENT ========== */

.app-content-section{
  height: 200vh;
  /* z-index: 5; */
  background-color: var(--primary-light);
}

/* ========== MEDIA ========== */

/* ========== FRAMES ========== */
