body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  color: var(--dark-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h3 {
  position: relative;
  z-index: 1;
}

h3.header-left::before {
  content: '';
  width: calc(50% + var(--gutter));
  height: 8px;
  background: linear-gradient(90deg, var(--secondary-light) 0%, #00000000 100%);
  display: inline-block;
  z-index: -1;
  position: absolute;
  top: var(--l-font-size);
  left: calc(var(--gutter) * -1);
}

h3.header-right::after {
  content: '';
  width: calc(50% + var(--gutter));
  height: 8px;
  background: linear-gradient(90deg, #00000000 0%, var(--secondary-light) 100%);
  display: inline-block;
  z-index: -1;
  position: absolute;
  top: var(--l-font-size);
  right: calc(var(--gutter) * -1);
}

h1 {
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
  text-align: center;
}

h2 {
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
  text-align: left;
}

p,
li,
ol,
div,
ul {
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
}

h3,
h4 {
  font-size: var(--l-font-size);
  line-height: var(--l-line-height);
  font-weight: 400;
  text-align: left;
}

a:hover {
  text-decoration: underline;
}

a:any-link {
  text-decoration: underline;
  color: var(--link-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-dark: #3f3f3f;
  --primary-light: #eaeef2;
  --secondary-light: #acbdcc;
  --secondary-dark: #829cb3;
  --border-highlight: #e7ce80;
  --dark-font-color: #1a1a1a;
  --light-font-color: #ebebeb;
  --link-color: #ba6b47;
  --nav-height: 2.5rem;

  --xxl-font-size: 42px;
  --xl-font-size: 30px;
  --l-font-size: 22px;
  --m-font-size: 18px;

  --xl-line-height: 48px;
  --l-line-height: 29px;
  --m-line-height: 28px;
  --gutter: 3rem;
}