/* ========== MAIN ========== */
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-light);
  min-height: 100vh;
}

/* ========== HEADER ========== */
.app-header {
  background-color: var(--secondary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* ========== NAVIGATION ========== */
.app-nav {
  display: flex;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  z-index: 3;
}

.app-nav>* {
  width: 100%;
  padding: 1em;
}

.app-nav>*:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.app-comment-float {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  position: fixed;
  width: 15vmin;
  height: 15vmin;
  bottom: 5vmin;
  right: 5vmin;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px #999;
}

.app-comment-float:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

/* ========== CONTENT ========== */

.app-content-section{
  height: 200vh;
  z-index: 5;
  
}

/* ========== MEDIA ========== */